@import 'https://fonts.googleapis.com/css?family=Denk+One';
@import 'https://fonts.googleapis.com/css?family=Source+Sans+Pro';
@import 'https://fonts.googleapis.com/css?family=Architects+Daughter';

/*-----------------RESET-----------------*/

body{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 16px;
	font-family: 'Source Sans Pro', Sans-Serif;
}

ul{
	list-style: none;
	padding: 0;
}

ul li{
	font-size: inherit;
	font-family: inherit;
	color: inherit;
}

a{
	color: inherit;
	text-decoration: none;
	font-size: inherit;
	font-family: inherit;
}

button{
	box-shadow: none;
	border: none;
	background-color: inherit;
	color: inherit;
}

/*-----------------GENERAL-----------------*/

/*Page titles*/
h2{
	font-family: Helvetica;
	font-size: 1.5em;
	letter-spacing: 1px;
	font-weight: normal;
	text-transform: uppercase;
	text-align: center;
}

/*h4 - Error msgs, profile fields(show and edit)*/
/*label - all forms*/
h4 label{
	font-size: 1.2em;
	font-weight: normal;
}

/*fields name for all forms*/
span{
	font-weight: bolder;
	letter-spacing: 1px;
}

/*all error msgs when submiting form*/
.error_msg{
	color: red;
	font-size: 1.1em;
	letter-spacing: 1px;
	text-align: center;
}

button{
	font-size: 1em;
	padding: 5px 10px;
	background-color: #d3d3d3;
	border-radius: 5px; 
}

/*anchor tag into button*/
.btnBox a{
	font-size: 1em;
	padding: 5px 10px;
	background-color: #d3d3d3;
	border-radius: 5px;
}

/*Add button for wines, winery and list*/
.btnAdd{
	font-size: 1em;
	padding: 5px 10px;
	background-color: #d3d3d3;
	border-radius: 5px;
/*	margin-left: 90%;*/
}

/*all forms*/
form label{
	display: block;
	margin: 15px 0;
}

/*all forms*/
form input{
	font-size: 1.1em;
	font-family: 'Architects Daughter';
	letter-spacing: 2px;
    margin-left: 2px;
}

/*wines, wineries and lists*/
.wrapper{
	width: 60%;
	margin: 0 20%;
}

/*-----------------HEADER-----------------*/

header{
	width: 100%;
}

h1{
	font-family: 'Denk One', Sans-Serif;
	font-size: 3em;
	letter-spacing: 2px;
	margin-left: 2%;
	width: 18%;
}

header h1{
	display: inline-block;

}

.linksTop{
	display: inline-block;
	width: 79%;
}

.logout{
	margin-left: 95%;
}

.navbar ul{
	width: 33%;
	margin-left: 68%;
}

.navbar ul li{
	display: inline-block;
	padding: 10px;
	font-size: 1.2em;
	letter-spacing: 1px;
	text-transform: uppercase;
	text-align: left;
}

/*-----------------LOGIN-----------------*/

.loginForm{
	width: 45%;
	margin: 2% 40%;
}

.loginForm input{
	width: 45%;
	display: block;
	border-radius: 5px;
	box-shadow: none;
}

.loginForm button{
	margin-left: 36%;
}

/*-----------------REGISTRATION-----------------*/

.registerForm{
	width: 41%;
	margin: 2% 30%;
}

.registerForm input{
	width: 65%;
	border: none;
	border-bottom: 1px solid black;
}

.registerForm button{
	margin-left: 90%;
}

/*-----------------PROFILE-----------------*/

.profile{
	margin-bottom: 5%;
}

.profileForm{
	width: 40%;
	margin: 2% 30%;
}

.profileForm input{
	width: 65%;
	border: none;
	border-bottom: 1px solid black;
}

.profileForm h4{
	margin:0;
}

.btnBox{
	margin-left: 45%;
}

.pwdForm{
	width: 45%;
	margin: 2% 40%;
}

.pwdForm input{
	width: 45%;
	display: block;
	border-radius: 5px;
	box-shadow: none;
}


/*-----------------WINES-----------------*/

.boxLeft{
	width: 25%;
	display: inline-block;
	vertical-align: top;
	margin-right: 3%;
}

.recentList, .favList{
	padding: 5%;
	border: 1px solid black;
	border-radius: 5px;
}

.recentList{
	margin-bottom: 3%;
}

.recentList h3, .favList h3{
	margin: 0;
}

.boxRight{
	width: 71%;
	display: inline-block;
	vertical-align: top;
}

.wineTopLink{
	width: 60%;
	margin-left: 47%;
	margin-bottom: 3%;
}

.wineTopLink input{
	display: inline-block;
	font-size: 1em;
	width: 60%;
	margin-right: 3%;
}

.wineTopLink a{
	font-size: 1em;
	padding: 5px 10px;
	background-color: #d3d3d3;
	border-radius: 5px;
}

ul{
	width: 100%;
}

.newWineForm, .wineInfo, .editWineForm{
	width: 60%;
	margin: 3% 20%;
}

.newWineForm input, .editWineForm input{
	width: 65%;
	border: none;
	border-bottom: 1px solid black;
}

.btnBox form {
	display: inline-block;
}


/*-----------------WINERIES-----------------*/

.wineryAdd{
	margin-left: 88%;
}

.wineryList{
	width: 100%;
	text-align: center;
}

.wineryBox{
	width: 45%;
	border: 1px solid black;
	border-radius: 0px 20px 0px 20px;
	display: inline-block;
	margin-left: 2%;
	margin-bottom: 2%;
}

.inBoxLeft{
	display: inline-block;
	width: 45%;
	margin-right: 3%;
	vertical-align: top;
	padding-top: 1%;

}

.maps{
	display: inline-block;
	vertical-align: top;
	width: 50%;
}

.maps img{
	width: 70%;
}

.newWineryForm input, .editWineryForm input{
	width: 65%;
	border: none;
	border-bottom: 1px solid black;
}

.newWineryForm, .wineryInfo, .editWineryForm{
	width: 60%;
	margin: 3% 20%;
}






