<header>
    <h1>Wine Geek</h1>
    <div class="linksTop">
        <a class="logout" href="#">logout</a>
        <nav class="navbar">
            <ul>
                <li>
                    <a href="#/Home">Home</a>
                </li>
                <li>
                    <a href="#/Wines">Wines</a>
                </li>
                <li>
                    <a href="#/Wineries">Wineries</a>
                </li>
                <li>
                    <a href="#/Lists">Lists</a>
                </li>
            </ul>    
        </nav>
    </div>
</header>

<div class="profile">
    <h2>Profile</h2>
    <div class="profileForm">
        <form>
            <label>
                <span>First Name:</span>
                <input type="text" ng-model=""></input>
            </label>
            <label>
                <span>Last Name:</span>
                <input type="text" ng-model=""></input>
            </label>
            <label>                
                <h4><span>E-mail:</span> {{ user.email }}</h4>
            </label>
            <label>
                <span>Address:</span> 
                <input type="text" ng-model=""></input>
            </label>
            <label>
                <span>City:</span>
                <input type="text" ng-model=""></input>
            </label>
            <label>
                <span>State:</span>
                <input type="text" ng-model=""></input>
            </label>
            <label>
                <span>Favorite Wine:</span>
                <input type="text" ng-model=""></input>
            </label>
            <label>
                <span>Favorite Winery:</span>
                <input type="text" ng-model=""></input>
            </label>
        </div>
        <div class="btnBox">
            <button type="submit" ng-click="">Save</button>
            <a href="#/Profile">Cancel</a>
        </div>
    </form>
</div>

