<header>
    <h1>Wine Geek</h1>
    <div class="linksTop">
        <nav class="navbar">
            <ul>
                <li>
                    <a href="#/Login">Login</a>
                </li>
                <li>
                    <a href="#/Registration">Register</a>
                </li>
            </ul>  
        </nav>
    </div>
</header>

<div class="mainContent">
    <h3>Can't remember the name of that amazing wine you had?</h3> 
    <h4><span>Wine Geek</span> to the rescue!</h4> 
    <p>Register today and start keeping track of all the wine you ever tasted, not only so you can avoid those you didn't like but also to buy tons of those you loved! Go one step further and keep track of all the wineries you visit too...it's super easy!</p>
</div>




