<header class="mainHeader">
    <h1>Wine Geek</h1>
    <nav class="navbar">
        <ul>
        	<li>
                <a href="#/">Back</a>
            </li>
            <li>
                <a href="#/Login">Login</a>
            </li>
        </ul>    
    </nav>
</header>

<div class="wrapperRegister">
	<h2>Registration</h2>

	<h4 class="error_msg">{{ error }}</h4>

	<form name="newUser" class="registerForm">
		<label>First Name:</label>
			<input type="text" ng-model="newUser.firstName" required></input>
		<label>Last Name:</label>
			<input type="text" ng-model="newUser.lastName" required></input>
		<label>E-mail:</label>
			<input type="email" ng-model="newUser.email" ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/" required></input>
		<label>Password: </label>
			<input type="password" ng-model="newUser.password" required></input>
		<label>Confirm Password: </label>
			 <input type="password" ng-model="newUser.confPwd" required></input>
		<label>Address:</label>
			<input type="text" ng-model="newUser.address"></input>
		<label>City:</label>
			<input type="text" ng-model="newUser.city"></input>
		<label>State:</label>
			<input type="text" ng-model="newUser.state" ng-minlength="2" ng-maxlength="2"></input>
		<label>What's your favorite Wine?:</label>
			<input type="text" ng-model="newUser.favWine"></input>
		<label>What's your favorite Winery?:</label>
			<input type="text" ng-model="newUser.favWinery"></input>

		<button type="submit" ng-click="addUser()">Save</button>
	</form>
</div>