<header>
    <h1>Wine Geek</h1>
    <div class="linksTop" ng-controller="loginController">
        <a class="logout" href="/#/" ng-click="logout()">logout</a>
        <nav class="navbar">
            <ul>
                <li>
                    <a href="#/Home">Home</a>
                </li>
                <li>
                    <a href="#/Profile">Profile</a>
                </li>
                <li>
                    <a href="#/Wines">Wines</a>
                </li>
                <li>
                    <a href="#/Wineries">Wineries</a>
                </li>
            </ul>    
        </nav>
    </div>
</header>

<div class="wrapperEditProfile">
    <h2>Edit Profile</h2>
    <h4 class="error_msg">{{error}}</h4>
    <form class="editProfileForm">
        <input type="hidden" ng-model="user.id"></input>
        <label>
            <span>First Name:</span>
            <input type="text" ng-model="user.firstName" required></input>
        </label>
        <label>
            <span>Last Name:</span>
            <input type="text" ng-model="user.lastName" required></input>
        </label>
        <label>                
            <span>E-mail:</span> 
            <h4>{{ user.email }}</h4>
        </label>
        <label>
            <span>Address:</span> 
            <input type="text" ng-model="user.address"></input>
        </label>
        <label>
            <span>City:</span>
            <input type="text" ng-model="user.city"></input>
        </label>
        <label>
            <span>State:</span>
            <input type="text" ng-model="user.state" ng-minlength="2" ng-maxlength="2"></input>
        </label>
        <label>
            <span>Favorite Wine:</span>
            <input type="text" ng-model="user.favWine"></input>
        </label>
        <label>
            <span>Favorite Winery:</span>
            <input type="text" ng-model="user.favWinery"></input>
        </label>
        <div class="btnBox">
            <button type="submit" ng-click="updateUser()">Save</button>
            <a href="#/Profile">Cancel</a>
        </div>
    </form>
</div>

