<header>
    <h1>Wine Geek</h1>
    <div class="linksTop">
        <a class="logout" href="#">logout</a>
        <nav class="navbar">
            <ul>
                <li>
                    <a href="#/Profile">Profile</a>
                </li>
                <li>
                    <a href="#/Wines">Wines</a>
                </li>
                <li>
                    <a href="#/Wineries">Wineries</a>
                </li>
                <li>
                    <a href="#/Lists">Lists</a>
                </li>
            </ul>    
        </nav>
    </div>
</header>

<h2>Hello {( user.firstName }}!</h2>




