<header>
    <h1>Wine Geek</h1>
    <div class="linksTop" ng-controller="loginController">
        <a class="logout" href="/#/" ng-click="logout()">logout</a>
        <nav class="navbar">
            <ul>
                <li>
                    <a href="#/Home">Home</a>
                </li>
                <li>
                    <a href="#/Profile">Profile</a>
                </li>
                <li>
                    <a href="#/Wines">Wines</a>
                </li>
                <li>
                    <a href="#/Wineries">Wineries</a>
                </li>
            </ul>    
        </nav>
    </div>
</header>

<div class="profile">
    <h2>Change Password</h2>
    <h4 class="error_msg">{{error}}</h4>
    <div class="pwdForm">
        <form>
            <label>
                <span>Current Password:</span>
                <input type="password" ng-model="user.oldPwd" required></input>
            </label>
            <label>
                <span>New Password:</span>
                <input type="password" ng-model="user.newPwd" required></input>
            </label>
            <label>
                <span>Confirm New Password:</span>
                <input type="password" ng-model="user.confPwd" required></input>
            </label>
  
            <div class="btnBox">
                <button type="submit" ng-click="changePwd()">Save</button>
                <a href="#/Profile">Back</a>
            </div>
        </form>
    </div>
</div>

