<header>
    <h1>Wine Geek</h1>
    <div class="linksTop" ng-controller="loginController">
        <a class="logout" href="/#/" ng-click="logout()">logout</a>
        <nav class="navbar">
            <ul>
                <li>
                    <a href="#/Home">Home</a>
                </li>
                <li>
                    <a href="#/Profile">Profile</a>
                </li>
                <li>
                    <a href="#/Wines">Wines</a>
                </li>
                <li>
                    <a href="#/Wineries">Wineries</a>
                </li>
            </ul>    
        </nav>
    </div>
</header>

<div class="wrapper">
    <h2>{{ winery.name }}</h2>
    <div class="wineryInfo">
        <h4><span>Region:</span>{{ winery.region }}</h4>
        <h4><span>City:</span>{{ winery.city }}</h4>
        <h4><span>State:</span>{{ winery.state }}</h4>
        <h4><span>Country:</span>{{ winery.country }}</h4>
        <h4><span>Specialty:</span>{{ winery.specialty }}</h4>
        <h4><span>Visited in:</span>{{ winery.visited_at | date:'MM/dd/yyyy' }}</h4>

        <h3>Review</h3>
            <h4><span>Score:</span>{{ winery.score }}</h4> 
            <h4><span>Comments:</span>{{ winery.comment }}</h4>
    </div>
        <div class="btnBox">  
            <a href="#/Wineries">Back</a>          
            <a href="#/Wineries/Edit/{{winery.id}}">Edit</a>
            <form>
                <button type="submit" ng-click="deleteWinery()">Delete</button>
            </form>
        </div>
</div>

