<header>
    <h1>Wine Geek</h1>
    <div class="linksTop" ng-controller="loginController">
        <a class="logout" href="/#/" ng-click="logout()">logout</a>
        <nav class="navbar">
            <ul>
                <li>
                    <a href="#/Home">Home</a>
                </li>
                <li>
                    <a href="#/Profile">Profile</a>
                </li>
                <li>
                    <a href="#/Wines">Wines</a>
                </li>
                <li>
                    <a href="#/Wineries">Wineries</a>
                </li>
            </ul>    
        </nav>
    </div>
</header>

<div class="wrapperHomeWine">
    <h2>Wines</h2>

    <div class="topLinks">
        <input  ng-if="show" type="text" ng-model="filter_wines" placeholder="Search"></input>
        <a class="btnAdd" href="#/Wines/New">Add New</a>
        <h3>{{msg}}</h3>
    </div>

    <div class="boxLeft" ng-if="show">
        <div class="recentList">
            <h3>Recently Added</h3>
            <ul ng-repeat="wine in wines | limitTo: 5">
                <li>
                    <a href="#/Wines/Show/{{wine.id}}">{{wine.name}}, {{wine.year}}</a>
                </li>
            </ul>
        </div>

        <div class="favList">
            <h3>Your Favorites</h3>
            <ul ng-repeat="wine in wines | limitTo: 3">
                <li>
                    <a href="#/Wines/Show/{{wine.id}}">{{wine.name}}, {{wine.score}}</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="boxRight" ng-if="show">
        <h3>All Wines</h3>
        <ul ng-repeat="wine in wines | orderBy:'name' | filter: filter_wines">
            <li>
                <a href="#/Wines/Show/{{wine.id}}">{{wine.name}}, {{wine.variety}}, {{wine.year}} from {{wine.winery}}</a>
            </li>
        </ul>
    </div>
</div>



