<header>
    <h1>Wine Geek</h1>
    <div class="linksTop">
        <a class="logout" href="#">logout</a>
        <nav class="navbar">
            <ul>
                <li>
                    <a href="#/Home">Home</a>
                </li>
                <li>
                    <a href="#/Profile">Profile</a>
                </li>
                <li>
                    <a href="#/Wines">Wines</a>
                </li>
                <li>
                    <a href="#/Lists">Lists</a>
                </li>
            </ul>    
        </nav>
    </div>
</header>

<div class="wrapper">
    <h2>New Winery</h2>
    <div class="newWineryForm">
        <form>
            <label>
                <span>Name:</span>
                <input type="text" ng-model=""></input>
            </label>
            <label>
                <span>Region:</span>
                <input type="year" ng-model=""></input>
            </label>
            <label>
                <span>City:</span> 
                <input type="text" ng-model=""></input>
            </label>
            <label>
                <span>State:</span>
                <input type="text" ng-model=""></input>
            </label>
            <label>
                <span>Country:</span>
                <input type="text" ng-model=""></input>
            </label>
            <label>
                <span>Specialty:</span>
                <input type="text" ng-model=""></input>
            </label>
            <label>
                <span>Visited in:</span>
                <input type="date" ng-model=""></input>
            </label>

            <h3>Review</h3>
                <label>
                    <span>Score:</span> 
                    <input type="text" ng-model=""></input>
                </label>
                <label>
                    <span>Comments:</span>
                    <input type="text" ng-model=""></input>
                </label>
    </div>
        <div class="btnBox">
            <button type="submit" ng-click="">Save</button>
            <a href="#/Wineries">Cancel</a>
        </div>
        </form>
</div>

