<header>
    <h1>Wine Geek</h1>
    <div class="linksTop" ng-controller="loginController">
        <a class="logout" href="/#/" ng-click="logout()">logout</a>
        <nav class="navbar">
            <ul>
                <li>
                    <a href="#/Home">Home</a>
                </li>
                <li>
                    <a href="#/Profile">Profile</a>
                </li>
                <li>
                    <a href="#/Wines">Wines</a>
                </li>
                <li>
                    <a href="#/Wineries">Wineries</a>
                </li>
            </ul>    
        </nav>
    </div>
</header>

<div class="wrapper">
    <h2>Edit Winery</h2>
    <h4 class="error_msg">{{error}}</h4>
    <div class="editWineryForm">
        <form>
            <label>
                <span>Name: </span>
                <input type="text" ng-model="winery.name" required></input>
            </label>
            <label>
                <span>Region: </span>
                <input type="year" ng-model="winery.region" required></input>
            </label>
            <label>
                <span>City:  </span> 
                <input type="text" ng-model="winery.city"></input>
            </label>
            <label>
                <span>State: </span>
                <input type="text" ng-model="winery.state"></input>
            </label>
            <label>
                <span>Country: </span>
                <input type="text" ng-model="winery.country"></input>
            </label>
            <label>
                <span>Specialty:  </span>
                <input type="text" ng-model="winery.specialty"></input>
            </label>
            <label>
                <span>Visited in:</span>
                <input type="text" ng-model="winery.visited_at | date:'MM-dd-yyyy'"></input>
            </label>

            <h3>Review</h3>
                <label>
                    <span>Score: </span> 
                    <input type="number" max="5" ng-model="winery.score"></input>
                </label>
                <label>
                    <span>Comments:  </span>
                    <input type="text" ng-model="winery.comment"></input>
                </label>
        </div>
        <div class="btnBox">
            <button type="submit" ng-click="updateWinery()">Save</button>
            <a href="#/Wineries">Cancel</a>
            <a href="#/Wineries/Show/{{winery.id}}">Back</a>
        </div>
    </form>
</div>

