<header>
    <h1>Wine Geek</h1>
    <div class="linksTop" ng-controller="loginController">
        <a class="logout" href="/#/" ng-click="logout()">logout</a>
        <nav class="navbar">
            <ul>
                <li>
                    <a href="#/Home">Home</a>
                </li>
                <li>
                    <a href="#/Profile">Profile</a>
                </li>
                <li>
                    <a href="#/Wines">Wines</a>
                </li>
                <li>
                    <a href="#/Wineries">Wineries</a>
                </li>
            </ul>    
        </nav>
    </div>
</header>

<div class="wrapper">
    <h2>Wineries</h2>
    <a class="btnAdd wineryAdd" href="#/Wineries/New">Add New</a>

        <div class="wineryList">
            <ul ng-repeat="winery in wineries | orderBy:'name'">
                <li class="wineryBox">
                    <div class="inBoxLeft">
                        <a href="#/Wineries/Show/{{winery.id}}">{{winery.name}}</a>
                        <h4>{{ winery.region }}, {{ winery.state }}</h4>
                    </div>
                    <div class="maps"><img src="assets/map.png"></div>
                </li>
            </ul>
        </div>

</div>



