<header>
    <h1>Wine Geek</h1>
    <div class="linksTop" ng-controller="loginController">
        <a class="logout" href="/#/" ng-click="logout()">logout</a>
        <nav class="navbar">
            <ul>
                <li>
                    <a href="#/Home">Home</a>
                </li>
                <li>
                    <a href="#/Profile">Profile</a>
                </li>
                <li>
                    <a href="#/Wines">Wines</a>
                </li>
                <li>
                    <a href="#/Wineries">Wineries</a>
                </li>
            </ul>    
        </nav>
    </div>
</header>

<div class="wrapperShowWine">
    <h2>{{ wine.name }}</h2>
    <img src="/assets/images/wineBottles.jpg">
    <div class="wineShow">
        <h4><span>Year:</span> {{ wine.year }}</h4>
        <h4><span>Variety:</span> {{ wine.variety }}</h4>
        <h4><span>Region:</span> {{ wine.region }}</h4>
        <h4><span>Winery:</span> {{ wine.winery }}</h4>
        <h4><span>Vintage:</span> {{ wine.vintage }}</h4>

        <h3>Review</h3>
            <h4><span>Score:</span> {{ wine.score }}</h4> 
            <h4><span>Comments:</span></h4> 
            <h4 class="showComment">{{ wine.comment }}</h4>
   

        <div class="btnBox">             
            <a href="#/Wines/Edit/{{wine.id}}">Edit</a>
            <button type="submit" ng-click="deleteWine()">Delete</button>
            <a href="#/Wines">Back</a> 
        </div>
    </div>
</div>

