<header>
    <h1>Wine Geek</h1>
    <div class="linksTop">
        <a class="logout" href="#">logout</a>
        <nav class="navbar">
            <ul>
                <li>
                    <a href="#/Home">Home</a>
                </li>
                <li>
                    <a href="#/Profile">Profile</a>
                </li>
                <li>
                    <a href="#/Wineries">Wineries</a>
                </li>
                <li>
                    <a href="#/Lists">Lists</a>
                </li>
            </ul>    
        </nav>
    </div>
</header>

<div class="wrapper">
    <h2>Edit Wine</h2>
    <div class="editWineForm">
        <form>
            <label>
                <span>Name: </span>
                <input type="text" ng-model=""></input>
            </label>
            <label>
                <span>Year: </span>
                <input type="year" ng-model=""></input>
            </label>
            <label>
                <span>Variety:  </span> 
                <input type="text" ng-model=""></input>
            </label>
            <label>
                <span>Region: </span>
                <input type="text" ng-model=""></input>
            </label>
            <label>
                <span>Winery: </span>
                <input type="text" ng-model=""></input>
            </label>
            <label>
                <span>Vintage:  </span>
                <input type="text" ng-model=""></input>
            </label>

            <h3>General Characteristics</h3>
                <label>
                    <span>Color: </span>
                    <input type="text" ng-model=""></input>
                </label>
                <label>
                    <span>Grape: </span>
                    <input type="text" ng-model=""></input>
                </label>
                <label>
                    <span>Aroma: </span>
                    <input type="text" ng-model=""></input>
                </label>
                <label>
                    <span>Flavor: </span>
                    <input type="text" ng-model=""></input>
                </label>
                <label>
                    <span>Finish: </span>
                    <input type="text" ng-model=""></input>
                </label>

            <h3>Taste Profile</h3>
                <label>
                    <span>Acidity:  </span> 
                    <input type="text" ng-model=""></input>
                </label>
                <label>
                    <span>Tannin: </span>
                    <input type="text" ng-model=""></input>
                </label>
                <label>
                    <span>Fruit: </span>
                    <input type="text" ng-model=""></input>
                </label>
                <label>
                    <span>Body: </span>
                    <input type="text" ng-model=""></input>
                </label>
                <label>
                    <span>Sweetness: </span>
                    <input type="text" ng-model=""></input>
                </label>
                <label>
                    <span>Alcohol:  </span>
                    <input type="text" ng-model=""></input>
                </label>

            <h3>Review</h3>
                <label>
                    <span>Score: </span> 
                    <input type="text" ng-model=""></input>
                </label>
                <label>
                    <span>Comments:  </span>
                    <input type="text" ng-model=""></input>
                </label>
        </div>
        <div class="btnBox">
            <button type="submit" ng-click="">Save</button>
            <a href="#/Wines">Cancel</a>
            <a href="#/Wines/Show">Back</a>
        </div>
    </form>
</div>

