<header>
    <h1>Wine Geek</h1>
    <div class="linksTop" ng-controller="loginController">
        <a class="logout" href="/#/" ng-click="logout()">logout</a>
        <nav class="navbar">
           <ul>
                <li>
                    <a href="#/Home">Home</a>
                </li>
                <li>
                    <a href="#/Profile">Profile</a>
                </li>
                <li>
                    <a href="#/Wines">Wines</a>
                </li>
                <li>
                    <a href="#/Wineries">Wineries</a>
                </li>
            </ul>    
        </nav>
    </div>
</header>

<div class="wrapperAddWinery">
    <h2>New Winery</h2>

    <h4 class="error_msg">{{error}}</h4>

    <form class="newWineryForm">
        <label>Name:</label>
        <input type="text" ng-model="newWinery.name" required></input>

        <label>Region:</label>
        <input type="year" ng-model="newWinery.region" required></input>

        <label>City:</label> 
        <input type="text" ng-model="newWinery.city"></input>

        <label>State:</label>
        <input type="text" ng-model="newWinery.state" required></input>

        <label>Country:</label>
        <input type="text" ng-model="newWinery.country"></input>

        <label>Specialty:</label>
        <input type="text" ng-model="newWinery.specialty"></input>

        <h3>Review</h3>
        <label class="scoreLabel">Score:</label> 
        <input class="scoreInput" type="number" min="0" max="5" ng-model="newWinery.score"></input>

        <label>Comments:</label>
        <textarea rows="4" type="text" ng-model="newWinery.comment"></textarea>

        <div class="btnBox">
            <button type="submit" ng-click="addWinery()">Save</button>
            <a href="#/Wineries">Cancel</a>
        </div>
    </form>
</div>

