<header>
    <h1>Wine Geek</h1>
    <div class="linksTop" ng-controller="loginController">
        <a class="logout" href="/#/" ng-click="logout()">logout</a>
        <nav class="navbar">
            <ul>
                <li>
                    <a href="#/Home">Home</a>
                </li>
                <li>
                    <a href="#/Profile">Profile</a>
                </li>
                <li>
                    <a href="#/Wines">Wines</a>
                </li>
                <li>
                    <a href="#/Wineries">Wineries</a>
                </li>
            </ul>    
        </nav>
    </div>
</header>

<div class="wrapperEditWine">
    <h2>Edit Wine</h2>

    <h4 class="error_msg">{{error}}</h4>

    <form class="editWineForm">
        <label>Name:</label>
        <input type="text" ng-model="wine.name" required></input>

        <div class="wrapYear">
            <label class="yearLabel">Year:</label>
            <input class="yearInput" type="number" ng-model="wine.year" required></input>
        </div>

        <div class="wrapVariety">
            <label class="varietyLabel">Variety:</label> 
            <input class="varietyInput" type="text" ng-model="wine.variety" required></input>
        </div>

        <label>Region:</label>
        <input type="text" ng-model="wine.region"></input>

        <label>Winery:</label>
        <input type="text" ng-model="wine.winery"></input>

        <label class="vintage">Vintage:</label>
        <div class="wrapVintage">
            <input type="radio" ng-model="wine.vintage" value="yes">Yes</input>
            <input type="radio" ng-model="wine.vintage" value="no">No</input>
        </div>

        <h3>Review</h3>
        <label class="scoreLabel">Score:</label> 
        <input class="scoreInput" type="number" min="0" max="5" ng-model="wine.score"></input>

        <label>Comments:</label>
        <textarea type="text" ng-model="wine.comments"></textarea>

        <div class="btnBox">
            <a href="#/Wines/Show/{{wine.id}}">Back</a>
            <button type="submit" ng-click="updateWine()">Save</button>
            <a href="#/Wines">Cancel</a>
        </div>
    </form>
</div>

