<header>
    <h1>Wine Geek</h1>
    <div class="linksTop" ng-controller="loginController">
        <a class="logout" href="/#/" ng-click="logout()">logout</a>
        <nav class="navbar">
           <ul>
                <li>
                    <a href="#/Home">Home</a>
                </li>
                <li>
                    <a href="#/Profile">Profile</a>
                </li>
                <li>
                    <a href="#/Wines">Wines</a>
                </li>
                <li>
                    <a href="#/Wineries">Wineries</a>
                </li>
            </ul>    
        </nav>
    </div>
</header>

<div class="wrapper">
    <h2>New Winery</h2>
    <h4 class="error_msg">{{error}}</h4>
    <div class="newWineryForm">
        <form>
            <label>
                <span>Name:</span>
                <input type="text" ng-model="newWinery.name" required></input>
            </label>
            <label>
                <span>Region:</span>
                <input type="year" ng-model="newWinery.region" required></input>
            </label>
            <label>
                <span>City:</span> 
                <input type="text" ng-model="newWinery.city"></input>
            </label>
            <label>
                <span>State:</span>
                <input type="text" ng-model="newWinery.state"></input>
            </label>
            <label>
                <span>Country:</span>
                <input type="text" ng-model="newWinery.country"></input>
            </label>
            <label>
                <span>Specialty:</span>
                <input type="text" ng-model="newWinery.specialty"></input>
            </label>
            <label>
                <span>Visited in:</span>
                <input type="date" ng-model="newWinery.visit_date"></input>
            </label>

            <h3>Review</h3>
                <label>
                    <span>Score:</span> 
                    <input type="number" max="5" ng-model="newWinery.score"></input>
                </label>
                <label>
                    <span>Comments:</span>
                    <input type="text" ng-model="newWinery.comment"></input>
                </label>
    </div>
        <div class="btnBox">
            <button type="submit" ng-click="addWinery()">Save</button>
            <a href="#/Wineries">Cancel</a>
        </div>
        </form>
</div>

