<header>
    <h1>Wine Geek</h1>
    <div class="linksTop" ng-controller="loginController">
        <a class="logout" href="/#/" ng-click="logout()">logout</a>
        <nav class="navbar">
            <ul>
                <li>
                    <a href="#/Home">Home</a>
                </li>
                <li>
                    <a href="#/Profile">Profile</a>
                </li>
                <li>
                    <a href="#/Wines">Wines</a>
                </li>
                <li>
                    <a href="#/Wineries">Wineries</a>
                </li>
            </ul>    
        </nav>
    </div>
</header>

<div class="wrapperEditWinery">
    <h2>Edit Winery</h2>

    <h4 class="error_msg">{{error}}</h4>

    <form class="editWineryForm">
        <label>Name:</label>
        <input type="text" ng-model="winery.name" required></input>

        <label>Region:</label>
        <input type="year" ng-model="winery.region" required></input>

        <label>City:</label> 
        <input type="text" ng-model="winery.city"></input>

        <label>State:</label>
        <input type="text" ng-model="winery.state"></input>

        <label>Country:</label>
        <input type="text" ng-model="winery.country"></input>

        <label>Specialty:</label>
        <input type="text" ng-model="winery.specialty"></input>

        <h3>Review</h3>
        <label>Score:</label> 
        <input type="number" min="0" max="5" ng-model="winery.score"></input>

        <label>Comments:</label>
        <textarea type="text" ng-model="winery.comment"></textarea>


        <div class="btnBox">
            <a href="#/Wineries/Show/{{winery.id}}">Back</a>
            <button type="submit" ng-click="updateWinery()">Save</button>
            <a href="#/Wineries">Cancel</a>
        </div>
    </form>
</div>

