<header>
    <h1>Wine Geek</h1>
    <div class="linksTop">
        <a class="logout" href="#">logout</a>
        <nav class="navbar">
            <ul>
                <li>
                    <a href="#/Home">Home</a>
                </li>
                <li>
                    <a href="#/Profile">Profile</a>
                </li>
                <li>
                    <a href="#/Wines">Wines</a>
                </li>
                <li>
                    <a href="#/Lists">Lists</a>
                </li>
            </ul>    
        </nav>
    </div>
</header>

<div class="wrapper">
    <h2>{{ winery.name }}</h2>
    <div class="wineryInfo">
        <h4><span>Region:</span> </h4>
        <h4><span>City:</span> </h4>
        <h4><span>State:</span> </h4>
        <h4><span>Country:</span> </h4>
        <h4><span>Specialty:</span> </h4>
        <h4><span>Visited in:</span> </h4>

        <h3>Review</h3>
            <h4><span>Score:</span> </h4> 
            <h4><span>Comments:</span> </h4>
    </div>
        <div class="btnBox">  
            <a href="#/Wineries">Back</a>          
            <a href="#/Wineries/Edit">Edit</a>
            <form>
                <input type="hidden" name="id" ng-model="">
                <button type="submit" ng-click="">Delete</button>
            </form>
        </div>
</div>

