<header>
    <h1>Wine Geek</h1>
    <div class="linksTop" ng-controller="loginController">
        <a class="logout" href="/#/" ng-click="logout()">logout</a>
        <nav class="navbar">
            <ul>
                <li>
                    <a href="#/Home">Home</a>
                </li>
                <li>
                    <a href="#/Profile">Profile</a>
                </li>
                <li>
                    <a href="#/Wines">Wines</a>
                </li>
                <li>
                    <a href="#/Wineries">Wineries</a>
                </li>
            </ul>    
        </nav>
    </div>
</header>

<div class="wrapper">
    <h2>New Wine</h2>
    <h4 class="error_msg">{{error}}</h4>
    <div class="newWineForm">
        <form>
        <input type="hidden" ng-model="newWine.user_id" value="{{userId}}"></input>
            <label>
                <span>Name:</span>
                <input type="text" ng-model="newWine.name" required></input>
            </label>
            <label>
                <span>Year:</span>
                <input type="number" ng-model="newWine.year" required></input>
            </label>
            <label>
                <span>Variety:</span> 
                <input type="text" ng-model="newWine.variety" required></input>
            </label>
            <label>
                <span>Region:</span>
                <input type="text" ng-model="newWine.region"></input>
            </label>
            <label>
                <span>Winery:</span>
                <input type="text" ng-model="newWine.winery"></input>
            </label>
            <label>
                <span>Vintage:</span><br>
                <input type="radio" ng-model="newWine.vintage" value="yes">Yes</input>
                <input type="radio" ng-model="newWine.vintage" value="no">No</input>               
            </label>

           <!--  <h3>General Characteristics</h3>
                <label>
                    <span>Color:</span>
                    <input type="text" ng-model="newWine.color"></input>
                </label>
                <label>
                    <span>Grape:</span>
                    <input type="text" ng-model="newWine.grape"></input>
                </label>
                <label>
                    <span>Aroma:</span>
                    <input type="text" ng-model="newWine.aroma"></input>
                </label>
                <label>
                    <span>Flavor:</span>
                    <input type="text" ng-model="newWine.flavor"></input>
                </label>
                <label>
                    <span>Finish:</span>
                    <input type="text" ng-model="newWine.finish"></input>
                </label>

            <h3>Taste Profile</h3>
                <label>
                    <span>Acidity:</span> 
                    Low<input type="radio" ng-model="newWine.acidity" value="0"></input>
                    <input type="radio" ng-model="newWine.acidity" value="1"></input>
                    <input type="radio" ng-model="newWine.acidity" value="2"></input>
                    <input type="radio" ng-model="newWine.acidity" value="3"></input>
                    <input type="radio" ng-model="newWine.acidity" value="4"></input>High
                </label>
                <label>
                    <span>Tannin:</span><br>
                    Weak<input type="radio" ng-model="newWine.tannin" value="0"></input>
                    <input type="radio" ng-model="newWine.tannin" value="1"></input>
                    <input type="radio" ng-model="newWine.tannin" value="2"></input>
                    <input type="radio" ng-model="newWine.tannin" value="3"></input>
                    <input type="radio" ng-model="newWine.tannin" value="4"></input>Strong
                </label>
                <label>
                    <span>Fruit:</span>
                    <input type="text" ng-model="newWine.fruit"></input>
                </label>
                <label>
                    <span>Body:</span><br>
                    Light<input type="radio" ng-model="newWine.body" value="0"></input>
                    <input type="radio" ng-model="newWine.body" value="1"></input>
                    <input type="radio" ng-model="newWine.body" value="2"></input>
                    <input type="radio" ng-model="newWine.body" value="3"></input>
                    <input type="radio" ng-model="newWine.body" value="4"></input>Full
                </label>
                <label>
                    <span>Sweetness:</span><br>
                    Low<input type="radio" ng-model="newWine.sweetness" value="0"></input>
                    <input type="radio" ng-model="newWine.sweetness" value="1"></input>
                    <input type="radio" ng-model="newWine.sweetness" value="2"></input>
                    <input type="radio" ng-model="newWine.sweetness" value="3"></input>
                    <input type="radio" ng-model="newWine.sweetness" value="4"></input>High
                </label>
                <label>
                    <span>Alcohol:</span><br>
                    Low<input type="radio" ng-model="newWine.alcohol" value="0"></input>
                    <input type="radio" ng-model="newWine.alcohol" value="1"></input>
                    <input type="radio" ng-model="newWine.alcohol" value="2"></input>
                    <input type="radio" ng-model="newWine.alcohol" value="3"></input>
                    <input type="radio" ng-model="newWine.alcohol" value="4"></input>High
                </label>
 -->
            <h3>Review</h3>
                <label>
                    <span>Score:</span> 
                    <input type="number" max="5" ng-model="newWine.score"></input>
                </label>
                <label>
                    <span>Comments:</span>
                    <input type="text" ng-model="newWine.comment"></input>
                </label>

        </div>
        <div class="btnBox">
            <button type="submit" ng-click="addWine()">Save</button>
            <a href="#/Wines">Cancel</a>
        </div>
    </form>
</div>

