<header>
    <h1>Wine Geek</h1>
    <div class="linksTop" ng-controller="loginController">
        <a class="logout" href="/#/" ng-click="logout()">logout</a>
        <nav class="navbar">
            <ul>
                <li>
                    <a href="#/Home">Home</a>
                </li>
                <li>
                    <a href="#/Profile">Profile</a>
                </li>
                <li>
                    <a href="#/Wines">Wines</a>
                </li>
                <li>
                    <a href="#/Wineries">Wineries</a>
                </li>
            </ul>    
        </nav>
    </div>
</header>

<div class="wrapperHomeWine">
    <h2>Wines</h2>
        
    <a class="btnAdd" ng-if="show" href="#/Wines/New">Add New</a>       

    <div class="topMsg" ng-if="msg">
        <h3>{{msg}}</h3>
        <a class="btnAdd" href="#/Wines/New">Start Adding!</a>
    </div>


    <div class="wrapperBox" ng-if="show">
        <div class="boxRecent">
            <h3>You recently added:</h3>
            <ul>
                <li ng-repeat="wine in wines | limitTo: 3">
                    <a href="#/Wines/Show/{{wine.id}}">{{wine.name}}, {{wine.year}}</a>
                </li>
            </ul>
        </div>

        <div class="boxAll" ng-if="show">
            <h3>All Wines</h3>
            <input type="text" ng-model="filter_wines" placeholder="Search"></input>
            <ul>
                <li ng-repeat="wine in wines | orderBy:'name' | filter: filter_wines">
                    <a href="#/Wines/Show/{{wine.id}}">{{wine.name}}, {{wine.variety}}, {{wine.year}} from {{wine.winery}}</a>
                </li>
            </ul>
        </div>
    </div>
</div>



